/* .box{
    border:solid 2px tomato;
    padding-top:  15px;;
    padding-right: 10px;
    padding-bottom:15px ; 
    padding-left:  10px;
    padding: 15px;
    margin: 20px; ;
    width: 600px;
}
.link{
border: solid 1px green;
padding: 20px;
}
li{
    margin: 10px;
}
p{
padding: 5px;
}
p{
    border:solid 2px tomato;
    padding: 15px;
    margin: 20px; ;
   
} */
:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;  
    --logo-color: #000000;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --hero-background: #2F303A;
    --line-color: #DADADA;
  }

 h3{ top: calc(50% - 32px/2 - 4px);
font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: var(--logo-color)
}
line{
    
    background-color: var(--line-color)
}
h1{
    font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 56px;
color: var(--logo-color);
}
h2{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: var(--logo-color);
}
h4{
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: var(--logo-color);
}
h5{
font-weight: 500;
font-size: 18px;
line-height: 24px;
color:  var(--logo-color);
}
p{font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:  var(--logo-color);

}